.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell {border:1px solid seagreen; background-color:hsl(0, 49%, 50%)

.grid-container{border:1px solid seagreen;}

font-family: 'Montserrat', sans-serif;

header, footer {background-color:hsla(0, 49%, 50% 0.5);}

div.p {
    text-align: center;
}

Similar Building Blocks



/* h1{color:red;}

@media screen and (min-width: 40.063em){

  h1 {color :green;font-size:90px;}

}

@media print {

  h1{color: black;}

}

(min-width: 40.063em) { } min-width 641px, */
